/* assets/dropdown-style.css */

.Select-control {
    background-color: #e3f2fd !important; /* light blue */
    color: #000000 !important;
    border: 1px solid #90caf9 !important;
    border-radius: 4px;
}

/* Style the dropdown menu options */
.VirtualizedSelectOption {
    background-color: #ffffff !important;
    color: #000 !important;
}

.VirtualizedSelectFocusedOption {
    background-color: #bbdefb !important; /* lighter blue on hover */
    color: #000 !important;
}
